/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); */

@font-face {
  font-family: "NeonTubes2";
  src: url("./Fonts/NeonTubes2.otf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: "Lato", sans-serif; */
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("./Images/bg.jpg");
  background-position: center;
  background-size: cover;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* font-family: "NeonTubes2", sans-serif; */
  font-size: 60px;
  line-height: 88px;
  letter-spacing: 0.4px;
  color: #fff;
  text-transform: uppercase;
  -webkit-animation: neon ease 5s infinite;
  animation: neon ease 5s infinite;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

@-webkit-keyframes neon {
  0% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  20% {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  40% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  60% {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  61% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  62% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  65% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  66% {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  68% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  69% {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  80% {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@keyframes neon {
  0% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  20% {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  40% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  60% {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  61% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  62% {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  65% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  66% {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  68% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
  69% {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  80% {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
